<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayi.mapper.CategoriesMapper">

	<!-- <resultMap type="com.dayi.entity.Article" id="art_id">
		<id property="aid"  column="art_id"/>
		<result property="art_pic" column="art_pic"/>
		<result property="cate_id" column="cate_id"/>
		<association property="cate" column="cate_id"  select="get_cateid">
			<id property="cate_id" column="cate_id"/>
			<result property="cate" column="cate"/>
		</association>
	</resultMap> -->
	<!-- <select id="get_cateid" parameterType="Integer" resultType="com.dayi.entity.Categories">
		select cate_id,cate_name from categories where cate_id=#{cate_id}
	</select> --> 
	<!-- <select id="getArticle" parameterType="Integer" resultType="Article">
		select art_title,art_pic from article where  art_id=#{art_id}
	</select> -->
	
	<!-- <select id="getSome" parameterType="Integer" resultType="Categories">
		select cate_name from categories where  cate_id=#{cate_id}
	</select> -->
	<select id="getAllCategories" resultType="Categories">
		select cate_id,cate_name,cate_img from categories 
	</select>
	<!-- 
	<insert id="editArticle" parameterType="Article">
		insert into article values(#{art_id},#{art_title},#{art_tags},#{art_pic},#{art_intro},#{art_content},#{copy_url})
	</insert>

	<delete id="deleteArticle" parameterType="Integer">
		delete from article where art_id=#{art_id}
	</delete>
	
	<update id="updateArticle" parameterType="Article">
		update article
		set
			art_id =  #{art_id},
			art_title =  #{art_title},
			art_tags =  #{art_tags},
			art_pic =  #{art_pic},
			art_intro =  #{art_intro},
			art_content =  #{art_content},
			copy_url =  #{copy_url}
		where art_id=#{art_id}
		
	</update>
	
	<select id="getArticle" parameterType="Integer" resultType="Article">
		select art_title,art_pic from article where  art_id=#{art_id}
	</select>
	
	<select id="getAllArticle" resultType="Article">
		select * from article
	</select> -->
</mapper>
